@page "/order-list"
@using Project.Frontend.Website.Componenets
@using Project.Frontend.Website.Services
@layout Shared.MainLayout
@inject IWebsiteHttpClient webHttpClient

<PageTitle>Užsakymai</PageTitle>

<div class="d-flex flex-wrap-reverse">
    @if (Orders.Count > 0)
    {
        @foreach (var order in Orders)
        {
            <OrderComponent Order=@order />
        }
    }
    else
    {
        <h1>Nėra užsakymų</h1>
    }
</div>

@code {
    public List<OrderResponse> Orders { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Orders = await webHttpClient.DoGetAsync<List<OrderResponse>>("api/order");
    }
}
